{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>  おい、俺の筋肉！！やるのかい！？</h1>
    <h1>やらないのかい！？どっちなんだい！？</h1>

</div>

<style>
    .btn,
    #start-button {
      font-size: 24px;
    }

    /* 新しいスタイルを追加 */
    #timer-display {
      font-size: 36px;
      text-align: center;
    }
</style>
  
  <form action="/" method="get">
    <a href="/" class="btn btn-flat" role="button"><span>ホームに戻る!</span></a>
  </form>
  
  <form id="timer-form" method="get">
    <label for="minutes" style="font-size: 24px;">設定時間:</label>
    <input type="number" id="minutes" name="minutes" min="0" max="60" value="0" style="font-size: 24px; width: 80px;">
    <label for="minutes" style="font-size: 24px;">分:</label>
    
    <input type="number" id="seconds" name="seconds" min="0" max="59" value="10" style="font-size: 24px; width: 80px;">
    <label for="seconds" style="font-size: 24px;">秒:</label>

    <input type="button" id="start-button" value='やーーーーる！！ハッ（笑顔）'>
    
  </form>
  

  
  <audio id="audio-element" src="/static/audio/{{ audio_file }}"></audio>
  
  <div id="timer-display"></div>

  <script>
  const timerDisplay = document.getElementById("timer-display"); // タイマーの表示要素を取得する

  const startButton = document.getElementById("start-button"); // スタートボタンを取得する
  const audioElement = document.getElementById("audio-element"); // 音声要素を取得する

  startButton.addEventListener("click", () => {
    const minutes = parseInt(document.getElementById("minutes").value);
    const seconds = parseInt(document.getElementById("seconds").value);

    let totalSeconds = minutes * 60 + seconds;

    function countdown() {
      let minutes = Math.floor(totalSeconds / 60);
      let seconds = totalSeconds % 60;

      minutes = minutes.toString().padStart(2, "0");
      seconds = seconds.toString().padStart(2, "0");

      // タイマーの表示を更新する
      timerDisplay.innerHTML = `<p>${minutes}:${seconds}</p>`;

      totalSeconds--;

      if (totalSeconds < 0) {
        clearInterval(intervalId);
        const audioFiles = ["SiriPower.mp3", "SiriYa.mp3", "SiriEnd4.mp3"];
        const audioFile = audioFiles[Math.floor(Math.random() * audioFiles.length)];
        audioElement.src = `/static/audio/${audioFile}`;
        audioElement.play();
      }
    }

    const intervalId = setInterval(countdown, 1000);

    startButton.disabled = true;
  });

</script>

{% endblock %}
